@model ShoppingApplication.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @* calss the action of post to the create methods *@
        @* asp helper tags *@
        <form asp-action="Delete">

            <div class="alert alert-danger" >Are you sure you want to delete this product</div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <label class="form-control">@Model.Name</label>
                <img src="@Model.Image" alt="Image" style="width: 100px; height: 100px;" />
            </div>
            <div class="form-group">
                <input type="submit" asp-route-pid="@Model.Id" value="Delete" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
