@* Binding the view strongly with the model class *@

@model FirstWebApp.Models.Customer
<div class="alert alert-success">
    <h2>This is a strongly cound view</h2>
    <h4>Customer Id : @Model.Id</h4>
    <h4>Customer Name : @Model.Name</h4>
    <h4>Customer Age : @Model.Age</h4>
</div>


